@import "syntax-variables";

:host, .atom-text-editor {
  background-color: @soft-background;
  color: @soft-text;
}

:host, .atom-text-editor {
  background-color: @soft-background;
  color: @soft-text;

  .wrap-guide {
    background-color: @syntax-wrap-guide-color;
  }

  .indent-guide {
    color: @syntax-indent-guide-color;
  }

  .invisible-character {
    color: @syntax-invisible-character-color;
  }

  .gutter {
    background-color: @soft-background;
    color: @soft-text-faded;

    .line-number {
      &.cursor-line {
        background-color: fade(@soft-purple-light, 50%);
        color: @soft-purple-darker;
      }

      &.cursor-line-no-selection {
        background-color: transparent;
        color: @soft-purple-darker;
      }
    }
  }

  .gutter .line-number.folded,
  .gutter .line-number:after,
  .fold-marker:after {
    color: @light-gray;
  }

  .invisible {
    color: @soft-text;
  }

  .cursor {
    // color: @syntax-cursor-color;
    border-left: 2px solid rgba(244,129,187,1);
    border-top: 0;
    border-bottom: 0;
  }
  .cursor:after {
    content: '';
    display: block;
    position: absolute;
    left: -1px;
    width: .55em;
    height: 100%;
    background: rgba(244,129,187,.13);
    -webkit-filter: blur(1px);
    filter: blur(1px);
  }

  .selection .region {
    background-color: @soft-purple-light;
  }
}

.atom-text-editor .search-results .marker .region {
  background-color: transparent;
  border: 2px solid @syntax-result-marker-color;
}

.atom-text-editor .search-results .marker.current-result .region {
  border: 2px solid @syntax-result-marker-color-selected;
}

.comment {
  color: @gray;
}

.entity {
  &.name.type {
    color: @morado;

  }

  &.other.inherited-class {
    color: @yellow;
  }
}
// TODO: HI!
.keyword {
  color: @tags;

  &.control {
    color: @tags;
  }

  &.operator {
    color: lighten(@orange, 10%);
  }

  &.other.special-method {
    color: @yellow;
  }

  &.other.unit {
    color: @orange;
  }
}
// TODO: test
.storage {
  color: @soft-violet;
}

.constant {
  color: @orange;

  &.character.escape {
    color: @cyan;
  }

  &.numeric {
    color: @orange;
  }

  &.other.color {
    color: @cyan;
  }

  &.other.symbol {
    color: @orange;
  }
}

.variable {
  /* color: lighten(@orange, 15%); */
  color: @purple;

  &.interpolation {
    color: darken(@orange, 25%);
  }

  &.parameter.function {
    color: @tags;
  }
}

.invalid.illegal {
  background-color: @red;
  color: @syntax-background-color;
}

.string {
  color: @yellow;


  &.regexp {
    color: @cyan;

    .source.ruby.embedded {
      color: @orange;
    }
  }

  &.other.link {
    color: @red;
  }
}

.punctuation {
  &.definition {
    &.comment {
      color: @light-gray;
    }

    &.string,
    &.variable,
    &.parameters,
    &.array {
      color: @tags;
    }

    &.heading,
    &.identity {
      color: @cyan;
    }

    &.bold {
      color: @morado;
      font-style: bold;
    }

    &.italic {
      color: @tags;
      font-style: italic;
    }
  }

  &.section.embedded {
    color: darken(@red, 10%);
  }

}

.support {
  &.class {
    color: @morado;
  }

  &.function  {
    color: @purple;

    &.any-method {
      color: @tags;
    }
  }
}

.entity {
  &.name.function {
    color: @yellow;
  }

  &.name.class, &.name.type.class {
    color: @orange;
  }

  &.name.section {
    color: @yellow;
  }

  &.name.tag {
    color: @tags;
  }

  &.other.attribute-name {
    color: @orange;

    &.id {
      color: @yellow;
    }
  }
}

.meta {
  &.class {
    color: @morado;
  }

  &.link {
    color: @orange;
  }

  &.require {
    color: @yellow;
  }

  &.selector {
    color: @tags;
  }

  &.separator {
    background-color: @gray;
    color: @soft-text;
  }
}

.none {
  color: @soft-text;
}

.markup {
  &.bold {
    color: @orange;
    font-style: bold;
  }

  &.changed {
    color: @tags;
  }

  &.deleted {
    color: @red;
  }

  &.italic {
    color: @purple;
    font-style: italic;
  }

  &.heading .punctuation.definition.heading {
    color: @cyan;
  }

  &.inserted {
    color: @yellow;
  }

  &.list {
    color: @orange;
  }

  &.quote {
    color: @red;
  }

  &.raw.inline {
    color: @yellow;
  }
}

.source.gfm .markup {
  -webkit-font-smoothing: auto;
  &.heading {
    color: @yellow;
  }
}

.atom-text-editor[mini] .scroll-view {
  padding-left: 1px;
}

//this, super, etc:
// .variable.language.js
.variable.language {
  // font-weight: 500;
  color: #e4bcbf;
}


.syntax--todo,
.syntax--question,
.syntax--note,
.syntax--fixme,
.syntax--changed,
.syntax--xxx,
.syntax--idea,
.syntax--hack,
.syntax--review,
.syntax--xxx
 {
  color: #e4846f;
}
