// These colors are specific to the theme. Do not use in a package!


@soft-background: #f9f5f5;
@soft-light-gray: #ebe9e8;
@soft-light-gray: #e9e4e1;
@soft-text: #c8b3b3;
@soft-text-emphasis: #948484;
// @soft-text-faded: #c6b8b8;
@soft-text-faded: #e2d1d1;
@soft-text-dark: #262536;
@soft-purple-light: #eceafa;
@soft-purple-default: #cfc9f4;
@soft-purple-darker: #b4addf;
@soft-purple-darkest: #aba4d1;
@soft-orange: #e4846f;
@soft-salmon: #e4bcbf;
@soft-salmon: #eeaabe;
// @soft-salmon: #db90a7;
@soft-violet: #ce9ae8;
@soft-blue: #82b4e3;
@soft-hot-pink: #ec57b4;
@soft-red: #dd698c;
@soft-red-faded: #db90a7;
@soft-green: #25b7b8;
@soft-green-faded: #98c4ba;


@lighter-gray: #c5c8c6;
@light-gray: rgba(157, 157, 157, 0.6);
@gray: @light-gray;
@dark-gray: #282A2E;
@very-dark-gray: #1d1f21;
@black: #4a4a4a;
@white: #ffffff;
@selection: rgba(255, 246, 84, 0.9);

@background: @soft-background;
@cyan: @soft-blue;
@tags: @soft-red-faded;
@purple: @soft-purple-darkest;
@yellow: @soft-text-dark;
@red: @soft-red;
@orange: @soft-hot-pink;
@morado: @soft-violet;

@syntax-cursor-color: rgba(244,129,187,1);
@syntax-invisible-character-color: @soft-light-gray;
