// These colors are specific to the theme. Do not use in a package!


@soft-background: #f9f5f5;
@soft-text: #c8b3b3;
@soft-text-emphasis: #948484;
@soft-text-faded: #c6b8b8;
@soft-text-faded: #e2d1d1;
@soft-text-dark: #262536;
@soft-purple-light: #eceafa;
@soft-purple-default: #cfc9f4;
@soft-purple-darker: #b4addf;
@soft-purple-darkest: #aba4d1;
@soft-orange: #e4846f;
@soft-salmon: #e4bcbf;
@soft-violet: #ce9ae8;
@soft-blue: #82b4e3;
@soft-hot-pink: #ec57b4;
@soft-red: #c6566d;
@soft-red: #c66276;
@soft-red: #eb8297;


@lighter-gray: #c5c8c6;
@light-gray: rgba(157, 157, 157, 0.6);
@gray: @light-gray;
@dark-gray: #282A2E;
@very-dark-gray: #1d1f21;
@black: #4a4a4a;
@white: #ffffff;
@selection: rgba(255, 246, 84, 0.9);

@background: @soft-background;
@cyan: #25B7B8;
@tags: #C7425E;
@purple: #7C289D;
@yellow: #262536;
@red: #E7143C;
@orange: #E729A0;
@morado: #745AD9;
